{% extends "blog/base.html" %}

{% block content %}
{% if request.user.is_authenticated %}
Hello {{ request.user.username }}!
{% endif %}
<table>
    <tr>
        <th>Title</th>
        <th>Author</th>
        <th>At</th>
        <th>Synopsis</th>
        <th>Link</th>
        <th>Published</th>
    </tr>
    {% for a in article_list|dictsortreversed:"created" %}
    <tr>
        <td>{{ a.title }}</td>
        <td>{{ a.author }}</td>
        <td>{{ a.created }}</td>
        <td>{{ a.synopsis|truncatechars:20 }}</td>
        <td><a href="{% url 'blog:article' a.id %}">See</a></td>
        <td>{{ a.created|timesince }}</td>
    </tr>
    {% endfor %}
</table>
{% endblock %}